//主题色-主要主题色
@theme:#333333;
//主题色-黑色
@theme-black:#000000;
//主题色-次要主题色
@theme-secondary: #585858;
//主题色-红色
@theme-red: #E4364F;
//主题色-背景色
@theme-bg: #eeeeee;
@theme-linear-gradient: linear-gradient(-90deg, #eb476a 0%, #eb476a 100%);
//头部高度
@header-height: 0.88rem;
//页面左右的padding
@page-space: 0.24rem; 

// 主色调-用较为安全的蓝色作为主色调，其中 Light Primary 常用于 hover，Dark Primary 常用于 active
@theme-primary: #2d8cf0;
@theme-light-primary: #5cadff;
@theme-dark-primary: #2b85e4;
// 辅助色-具有代表性的颜色，常用于信息提示，比如成功、警告和失败。
@theme-info: #2db7f5;
@theme-success: #19be6b;
@theme-warning: #ff9900;
@theme-error: #ed4014;
// 中性色-常用于文本、背景、边框、阴影等，可以体现出页面的层次结构。
@text-title: #17233d; /*标题*/
@text-content: #515a6e; /*正文*/
@sub-color: #808695;  /*辅助/图标*/
@btn-disabled: #c5c8ce; /*失效 Disabled*/
@border-color: #dcdee2; /*边框*/
@divider-color: #e8eaec;  /*分割线 Divider*/
@background-color: #f8f8f9; /*背景*/



@theme-bd: #B3B3B3;
/* 按钮置灰 */
@colorDisabled: #B8B8B8; 

@themeText: #414141;
@colorNormal: #414141;

@theme-normal: #6F6F6F;

@themeGrey: #999;
@colorLight: #999;

@theme-tip: #C2C2C2;

@themeWarn: #FF3B30;
//https://github.com/airyland/vux/blob/v2/src/styles/variable.less
/**
* Swiper
*/
@swiper-indicator-active-color: @theme;
/**
* datetime
*/
// @datetime-header-item-font-color: @theme-color;
@datetime-header-item-cancel-font-color: @theme;
@datetime-header-item-confirm-font-color: @theme;
/**
* popup-picker
*/
@popup-picker-header-text-color: @theme;
// @popup-picker-header-bg-color: #fbf9fe;
// @popup-picker-header-font-size: 16px;
// @popup-picker-header-cancel-text-color: #828282;

@dialog-button-text-primary-color: @theme;
@tab-text-disabled-color: #ddd;
@tab-text-default-color: #666;
@tab-text-active-color: @theme;
@tab-bar-active-color: @theme;